doctype html
html(lang="en")
  head
  //- Default block title
  block title
    title 05-Jade - Welcome to NodeJS Course Exercises!
  body
    //- Default block content
    block content
      h1 Hello everybody! This was done using a Jade template
      p Layouts is implemented here as well