* {
  margin: 0px;
  padding: 0px; }

.Header {
  background-color: yellow;
  transition: background-color 2000ms linear;
  padding: 16px; }
  .Header .Header__headline {
    font-size: 36px;
    text-align: center; }
  .Header .Header__subheadline {
    font-size: 18px; }

.Header:hover {
  background-color: green;
  transition: background-color 2000ms linear; }

main {
  display: flex;
  justify-content: space-around;
  margin-top: 48px; }
  main .button, main button, main input[type="submit"], main input[type="button"] {
    background-color: blue;
    border: none;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    display: inline-block;
    padding: 12px 24px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  main .button:hover, main button:hover, main input[type="submit"]:hover, main input[type="button"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
