doctype html
html(lang="en")
  head
  //- Default stylesheet
  block style
    link(href='/public/css/index.css', rel='stylesheet')
  //- Default block title
  block title
    title 011-Middleware: Welcome to NodeJS Course Exercises!
  body
    //- Default block content
    block content
      h1 Hello everybody! This was done using a Jade template
      p Layouts is implemented here as well