<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>02-NodeServer</title>
</head>
<body>
  <h1>Sorry! Page does not exist but here's this awesome NodeJS philosophy</h1>
  <h2>If all this sounds crazy low level to you, that's because it it. The philosophy of Node is that you bolt together lots of small parts to build the product you want. Soon we will see how we can add in templating, SASS, routing, middleware, URL parsing, and a host of other features that will make our life more enjoyable.</h2>
</body>
</html>